.sidebar_wrapper {
  width: 15%;
  height: 716px;
  background-color:lightgrey;
}
.links_container {
  margin-top:10px;
}
.links_wrapper {
  padding:7px;
  padding-left:20px
}
.links_wrapper:hover{
  background-color:rgb(248, 246, 246);
  
}
.links_style {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  color :black
}
.links_wrapper:hover .links_style{
  color: skyblue
}
.all_container_wrapper{
  display: flex;
  background-color:rgb(15, 15, 30);
}